<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!-- Standard console output -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{26} - %msg%n%rEx</pattern>
        </encoder>
    </appender>

    <!--     <LOGGER name="org.hibernate"> -->
    <!--         <level pathFragment="ERROR" /> -->
    <!--     </LOGGER> -->
    <!--     <LOGGER name="org.hibernate.SQL"> -->
    <!--         <level pathFragment="ERROR" /> -->
    <!--     </LOGGER> -->
    <!--     <LOGGER name="org.hibernate.type"> -->
    <!--         <level pathFragment="ERROR" /> -->
    <!--     </LOGGER> -->
    <!--     <LOGGER name="org.springframework.messaging"> -->
    <!--         <level pathFragment="debug" /> -->
    <!--     </LOGGER> -->
    <!--     <LOGGER name="gr.abiss.restdude.websocket"> -->
    <!--         <level pathFragment="debug" /> -->

    <!--logger name="com.restdude.test">
        <level value="debug"/>
    </logger>

    <logger name="com.restdude.util">
        <level value="debug"/>
    </logger-->

    <root level="warn">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
